/* declaration */
:root {
  --main-color: #fff;
  --secondary-color: #0854a0;
  --choco-color: #704104;
  --background-boxes: #fff;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
  font-family: "Grandstander", cursive;
}

/* --style navigation-bar --*/
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 888;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#logo {
  width: 20rem;
  height: auto;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 0 5rem;
}

#menu li {
  list-style: none;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu a {
  text-decoration: none;
  font-size: 2.2rem;
  padding: 0.8em 1.5em;
  color: var(--choco-color);
  font-weight: bold;
  display: block;
}

#menu a:hover {
  background-color: var(--choco-color);
  color: var(--main-color);
}

#hamburger {
  display: none;
}

/*  style hero image */

main {
  position: relative;
  top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0 0;
  width: 100%;
  max-width: 1350px;
}

.hero-box img {
  width: 65%;
  height: auto;
}

.hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  line-height: 1.1;
  padding: 0 0 0 4rem;
  margin: 0 5rem 0 1rem;
  color: var(--choco-color);
  text-shadow: 2px 2px 8px #b4b2b2;
}

h1 {
  font-size: 5.6rem;
}

/*  style product section  */

#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 0 0;
  background-color: var(--secondary-color);
  width: 100%;
}

h2 {
  font-size: 2.8rem;
  color: #f2f2f2;
  padding-bottom: 1.8em;
  margin: 1em 0 0 0;
  text-shadow: 2px 2px 10px #3a3939;
}

iframe {
  width: 60rem;
  height: 40rem;
  border: 3px solid #4e7ee6;
  box-shadow: 0px 0px 30px #02203f;
  margin-bottom: 12em;
}

.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.ingredients-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 8rem 0;
  width: 100%;
}

.ingredients img {
  width: auto;
  height: 100%;
}

.ingredients-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
  margin: 0 0 0 9rem;
  background-color: rgba(83, 152, 241, 0.4);
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.4);
  border: 1px solid var(--secondary-color);
  padding: 3rem 4rem;
  border-radius: 1.5rem;
  text-align: left;
}

.ingredients-right h3 {
  font-size: 2.4rem;
  margin: 0.6em 0;
}

.ingredients-right h3:nth-of-type(2) {
  margin-top: 1.3em;
}

.ingredients-right ul li {
  font-size: 2rem;
}

.ingredients-right p {
  line-height: 1.6;
  font-size: 1.8rem;
}

/*  style order section  */

#order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 6rem 0;
  align-items: center;
}

.order-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6rem;
  max-width: 1350px;
}

.order-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 32rem;
  background-color: var(--background-boxes);
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 30px #02203f;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

.order-box img {
  width: 100%;
  height: auto;
}

.order-text {
  padding-top: 3rem;
}

.order-text h4 {
  font-size: 1.6rem;
  margin-bottom: 0.3em;
}

.order-text p {
  font-size: 1.4rem;
}

.order-text button {
  font-size: 1.6rem;
  margin: 0.7em 0;
  border: none;
  border-radius: 0.4em;
  padding: 0.6em 2em;
  background-color: var(--choco-color);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.order-text button:hover {
  background-color: var(--secondary-color);
}

/*  style features section  */

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
  padding: 6rem 0;
  align-items: center;
  width: 100%;
}

#features h2,
#contact h2 {
  color: #000;
  text-shadow: 2px 2px 5px #cfcaca;
}

.features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.features-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(83, 152, 241, 0.4);
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.4);
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  z-index: 10;
}

.feature-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  margin: 2rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--background-boxes);
}

.feature-box i {
  font-size: 4.5rem;
}

.feature-text {
  margin-left: 1.5rem;
  text-align: left;
}

.feature-text h3 {
  font-size: 2.4rem;
  margin: 0.2em 0;
}
.feature-text p {
  font-size: 1.4rem;
  margin: 0.35em 0;
}

/*  style more cookies section  */

#more-cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--secondary-color);
  align-items: center;
  padding: 6rem 0 0 0;
  width: 100%;
}

.more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.more-left {
  width: 40%;
}

.more-left p {
  color: #fff;
  font-size: 3.6rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px #3a3939;
}

.more-wrapper img {
  height: 20rem;
  width: auto;
}

/*  style newsletter section  */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 6rem 2rem 8rem 2rem;
  width: 100%;
  text-align: center;
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  padding: 0 1rem;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}

.img-gallery img {
  width: 8rem;
  height: 8rem;
  margin: 2rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-gallery img:hover {
  transform: scale(1.3);
}

.larger-pic {
  font-size: 1.2rem;
  margin: 0 0.4em 0.9em 0.4em;
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-img {
  position: absolute;
  height: 70%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.modal p {
  color: var(--main-color);
  font-size: 1.8rem;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.close-btn {
  color: var(--main-color);
  font-size: 6rem;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  padding: 0 0.3em;
}

.subscribe {
  font-size: 1.4rem;
  margin: 1.44em 0.35em 0.7em 0.35em;
}

form {
  display: flex;
  flex-direction: row;
}

input[type="email"] {
  background-color: var(--secondary-color);
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

::placeholder {
  color: #f2f2f2;
}

input[type="submit"] {
  font-size: 1.4rem;
  margin: 1rem 0 1rem 1rem;
  border: none;
  padding: 0.75em;
  border-radius: 5px;
  background-color: var(--choco-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.social i {
  font-size: 3rem;
  color: rgba(8, 84, 160, 0.8);
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.social i:hover {
  color: rgba(112, 65, 4, 0.8);
}

/*  style footer  */

footer {
  font-size: 1.2rem;
  position: relative;
  top: 68px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 1.67em 0;
  text-shadow: 2px 2px 10px #3a3939;
}

footer a {
  text-decoration: none;
  color: var(--main-color);
}

footer a:hover {
  color: var(--choco-color);
}

/*  media queries for tablets devices screen 810px  */

@media (max-width: 810px) {
  :root {
    font-size: 7px;
  }

  #menu {
    justify-content: space-between;
  }

  #menu a {
    padding: 0.8em;
  }

  .hero-box img {
    width: 65%;
  }

  .hero-text {
    width: 35%;
  }

  h1 {
    font-size: 4.6rem;
  }

  /*  style product section  */

  .ingredients {
    padding: 0 5rem;
  }

  .ingredients img {
    width: 40%;
    height: auto;
  }

  .ingredients-right {
    width: 60%;
    margin: 0 0 0 5rem;
  }

  /*  style order section  */

  .order-box {
    width: 25rem;
    margin: 1.9em;
  }

  /*  style features section  */

  .features-wrapper {
    padding: 0 5rem;
  }

  .feature-box {
    padding: 1.2rem;
    margin: 1.2rem;
  }

  /*  style contact section  */

  #contact {
    padding: 9.1rem 5rem 10rem 5rem;
  }

  .news-wrapper img {
    width: 45%;
  }

  .news-right {
    width: 55%;
    padding: 0 1.2rem;
  }

  .img-gallery img {
    width: 6.2rem;
    height: 6.2rem;
  }

  .full-img {
    height: auto;
    width: 100%;
  }

  .modal p {
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  .close-btn {
    top: 23%;
    right: 15%;
  }

  footer {
    font-size: 1.4rem;
  }
}

/* media queries for mobile devices screen 500px */

@media (max-width: 500px) {
  :root {
    font-size: 10px;
  }

  .nav-bar {
    flex-direction: column;
    width: 100%;
  }

  .logo-wrapper {
    width: 100%;
  }

  #hamburger {
    background-color: var(--choco-color);
    display: inline-block;
    height: 0.3rem;
    width: 3rem;
    position: fixed;
    right: 2rem;
    top: 3rem;
    cursor: pointer;
  }

  #hamburger::before {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 3rem;
    background-color: var(--choco-color);
    transform: translateY(-8px);
    transition: 0.2s;
    cursor: pointer;
  }

  #hamburger::after {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 3rem;
    background-color: var(--choco-color);
    transform: translateY(8px);
    transition: 0.2s;
    cursor: pointer;
  }

  #hamburger.active {
    background-color: transparent;
  }

  #hamburger.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #hamburger.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #menu.active {
    display: flex;
  }

  #menu {
    display: none;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
  }

  #menu a {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  /*  style hero image */

  .hero-box {
    flex-direction: column;
  }

  .hero-box img {
    width: 100%;
  }

  .hero-text {
    text-align: center;
    width: 100%;
    padding: 3rem 1.5rem;
    margin: 0 2.5rem 5rem 2.5rem;
  }

  /*  style product section  */

  h2 {
    font-size: 2.2rem;
    margin: 3rem 1.5rem 0 1.5rem;
  }

  iframe {
    width: 100%;
    height: 25rem;
    border: none;
  }

  .ingredients {
    flex-direction: column;
    padding: 0 2rem;
  }

  .ingredients img {
    width: 80%;
    height: auto;
  }

  .ingredients-right {
    width: 100%;
    margin: 4rem 0 0 0;
    padding: 2rem 3rem;
  }

  .ingredients-right h3 {
    font-size: 2rem;
  }

  .ingredients-right ul li {
    font-size: 1.6rem;
  }

  .ingredients-right p {
    font-size: 1.4rem;
  }

  /*  style order section  */

  .order-wrapper {
    margin-bottom: 3rem;
  }

  .order-box {
    width: 27rem;
    margin: 1.5em;
  }

  /*  style features section  */

  .features-wrapper {
    flex-direction: column;
    padding: 0 2rem;
  }

  .feature-box {
    padding: 1rem;
    margin: 1rem;
  }

  .feature-box h3 {
    font-size: 1.6rem;
  }

  .feature-box i {
    font-size: 4rem;
  }

  .features-wrapper img {
    width: 100%;
    margin-top: 3rem;
  }

  /*  style more cookies section */

  .more-wrapper {
    flex-direction: column;
  }

  .more-left {
    width: 90%;
  }

  .more-left p {
    margin-bottom: 3rem;
  }

  /*  style newsletter section */

  #contact {
    padding: 6rem 2rem 8rem 2rem;
  }

  .news-wrapper {
    flex-direction: column-reverse;
  }

  .news-wrapper img {
    width: 100%;
  }

  .news-right {
    width: 90%;
    padding: 0;
  }

  .img-gallery {
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-gallery img {
    width: 8rem;
    height: 8rem;
  }

  .larger-pic {
    margin: 0 auto 1rem auto;
  }

  .modal p {
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }

  .close-btn {
    top: 15%;
    right: 5%;
  }

  footer {
    font-size: 1.2rem;
  }
}
