* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Grandstander", cursive;
}

/* --style navigation-bar --*/
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 888;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1350px;
}

#logo {
  width: 200px;
  height: auto;
  padding: 3px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#menu li {
  list-style: none;
}

#menu a {
  text-decoration: none;
  padding: 20px;
  color: #704104;
  font-weight: bold;
  font-size: 21px;
  display: block;
}

#menu a:hover {
  background-color: hsl(34, 93%, 23%);
  color: #fff;
}

#hamburger {
  display: none;
}

/*  style hero image */

main {
  position: relative;
  top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
  width: 100%;
  max-width: 1350px;
}

.hero-box img {
  width: 65%;
  height: auto;
}

.hero-text {
  font-size: 30px;
  width: 35%;
  padding: 0 0 0 35px;
  margin: 0 25px;
  color: #704104;
  text-shadow: 2px 2px 8px #b4b2b2;
}

/*  style product section  */

#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 0 0;
  background-color: #0854a0;
  width: 100%;
}

h2 {
  font-size: 28px;
  color: #f2f2f2;
  padding-bottom: 50px;
  margin: 30px 0 0 0;
  text-shadow: 2px 2px 10px #3a3939;
}

iframe {
  border: 3px solid #4e7ee6;
  box-shadow: 0px 0px 30px #02203f;
  margin-bottom: 120px;
  width: 600px;
  height: 400px;
}

.ingredients-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 80px 0;
  width: 100%;
}

.ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.ingredients img {
  width: auto;
  height: 100%;
}

.ingredients-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45%;
  margin: 0 0 0 90px;
  background-color: rgba(83, 152, 241, 0.4);
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.4);
  border: 1px solid #0854a0;
  padding: 30px 40px;
  border-radius: 15px;
  text-align: left;
}

.ingredients-right h3 {
  font-size: 24px;
  margin: 15px 0;
}

.ingredients-right h3:nth-of-type(2) {
  margin-top: 30px;
}

.ingredients-right ul li {
  font-size: 20px;
}

.ingredients-right p {
  line-height: 1.6;
  font-size: 18px;
}

/*  style order section  */

#order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0854a0;
  padding: 60px 0;
  align-items: center;
  width: 100%;
}

.order-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  max-width: 1350px;
}

.order-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 320px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 30px #02203f;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.order-box img {
  width: 100%;
  height: auto;
}

.order-text {
  padding-top: 30px;
}

.order-text h4 {
  margin-bottom: 5px;
}

.order-text p {
  font-size: 14px;
}

.order-text button {
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  padding: 5px 30px;
  background-color: #704104;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.order-text button:hover {
  background-color: #0854a0;
  color: #fff;
}

/*  style features section  */

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  padding: 60px 0;
  align-items: center;
  width: 100%;
}

#features h2,
#contact h2 {
  color: #000;
  text-shadow: 2px 2px 5px #cfcaca;
}

.features-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.features-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(83, 152, 241, 0.4);
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.4);
  border: 1px solid #0854a0;
  border-radius: 15px;
  z-index: 10;
}

.feature-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin: 20px;
  color: #0854a0;
  border: 2px solid #0854a0;
  border-radius: 10px;
  background-color: #ffffff;
}

.feature-box i {
  font-size: 45px;
}

.feature-text {
  margin-left: 15px;
  text-align: left;
}

.feature-text h3,
.feature-text p {
  margin: 5px 0;
}

/*  style more cookies section  */

#more-cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0854a0;
  align-items: center;
  padding: 60px 0 0 0;
  width: 100%;
}

.more-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

.more-left {
  width: 40%;
}

.more-left p {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 10px #3a3939;
}

.more-row img {
  height: 200px;
  width: auto;
}

/*  style newsletter section  */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 60px 0 80px 0;
  width: 100%;
  text-align: center;
}

.news-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 0 10px;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.img-gallery img {
  width: 80px;
  height: 80px;
  margin: 20px 5px 10px 5px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-gallery img:hover {
  transform: scale(1.3);
}

.larger-pic {
  margin: 0 5px 10px 5px;
  font-size: 12px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-img {
  position: absolute;
  height: 70%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.modal p {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.close-btn {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  padding: 0 15px;
}

.subscribe {
  margin: 20px 5px 10px 5px;
}

form {
  display: flex;
  flex-direction: row;
}

input[type="email"] {
  background-color: #0854a0;
  color: #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
}

::placeholder {
  color: #f2f2f2;
}

input[type="submit"] {
  margin: 10px 0 10px 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #704104;
  color: #fff;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0854a0;
}

.social i {
  font-size: 30px;
  color: rgba(8, 84, 160, 0.8);
  margin: 10px 5px;
}

/*  style footer  */

footer {
  position: relative;
  top: 68px;
  text-align: center;
  background-color: #0854a0;
  color: #fff;
  padding: 20px 0;
  text-shadow: 2px 2px 10px #3a3939;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #704104;
}

/*  media queries for tablets devices screen 768px  */

@media (max-width: 790px) {
  .nav-bar {
    width: 90%;
  }

  #menu {
    width: 55%;
  }

  /*  style hero image */

  .hero-box img {
    width: 65%;
    height: auto;
  }

  .hero-text {
    font-size: 18px;
    width: 35%;
    padding: 0;
  }

  /*  style product section  */

  .ingredients {
    padding: 0 40px;
  }

  .ingredients img {
    width: 40%;
    height: auto;
  }

  .ingredients-right {
    width: 60%;
    margin: 0 0 0 40px;
  }

  .ingredients-right h3 {
    font-size: 20px;
  }

  .ingredients-right ul li {
    font-size: 16px;
  }

  .ingredients-right p {
    font-size: 14px;
  }

  /*  style order section  */

  .order-box {
    width: 200px;
    margin: 15px;
  }

  .order-text {
    padding-top: 15px;
  }

  /*  style features section  */

  .features-row {
    padding: 0 40px;
  }

  .feature-box {
    padding: 10px;
    margin: 10px;
  }

  .feature-box i {
    font-size: 40px;
  }

  .feature-text h3 {
    font-size: 16px;
  }
  .feature-text p {
    font-size: 14px;
  }

  /*  style newsletter section  */

  #contact {
    padding: 60px 40px 80px 40px;
  }

  .news-row img {
    width: 45%;
  }

  .news-right {
    width: 55%;
    padding: 0 10px;
  }

  .img-gallery img {
    width: 50px;
    height: 50px;
  }

  .full-img {
    height: auto;
    width: 100%;
  }

  .modal p {
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  .close-btn {
    top: 23%;
    right: 15%;
  }

  .subscribe p {
    font-size: 14px;
  }
}

/* media queries for mobile devices screen 375px */

@media (max-width: 500px) {
  .nav-bar {
    flex-direction: column;
    width: 100%;
  }

  #hamburger {
    background-color: #704104;
    display: inline-block;
    height: 3px;
    width: 30px;
    position: fixed;
    right: 20px;
    top: 30px;
    cursor: pointer;
  }

  #hamburger::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #704104;
    transform: translateY(-8px);
    transition: 0.2s;
    cursor: pointer;
  }

  #hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #704104;
    transform: translateY(8px);
    transition: 0.2s;
    cursor: pointer;
  }

  #hamburger.active {
    background-color: transparent;
  }

  #hamburger.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #hamburger.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #menu.active {
    display: flex;
  }

  #menu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  #menu a {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  /*  style hero image */

  .hero-box {
    flex-direction: column;
  }

  .hero-box img {
    width: 100%;
    height: auto;
  }

  .hero-text {
    font-size: 22px;
    text-align: center;
    width: 90%;
    padding: 30px 0;
    margin-bottom: 50px;
  }

  /*  style product section  */

  h2 {
    font-size: 22px;
    margin: 30px 15px 0 15px;
  }

  iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 90px;
    border: none;
  }

  .ingredients {
    flex-direction: column;
    padding: 0 20px;
  }

  .ingredients img {
    width: 80%;
    height: auto;
  }

  .ingredients-right {
    width: 100%;
    margin: 40px 0 0 0;
    padding: 20px 30px;
  }

  /*  style order section  */

  .order-row {
    margin-bottom: 30px;
  }

  .order-box {
    width: 270px;
    margin: 15px;
  }

  /*  style features section  */

  .features-row {
    flex-direction: column;
    padding: 0 20px;
  }

  .features-left {
    width: 100%;
  }

  .features-row img {
    width: 100%;
    margin-top: 30px;
  }

  /*  style more cookies section  */

  .more-row {
    flex-direction: column;
  }

  .more-left {
    width: 90%;
  }

  .more-left p {
    margin-bottom: 30px;
  }

  /*  style newsletter section  */

  #contact {
    padding: 60px 20px 80px 20px;
  }

  .news-row {
    flex-direction: column-reverse;
  }

  .news-row img {
    width: 100%;
  }

  .news-right {
    width: 90%;
    padding: 0;
  }

  .img-gallery {
    flex-wrap: wrap;
  }

  .img-gallery img {
    width: 80px;
    height: 80px;
  }

  .larger-pic {
    margin-left: auto;
    margin-right: auto;
  }

  .modal p {
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }

  .close-btn {
    top: 15%;
    right: 5%;
  }
}
